<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
    <h2>Student Registration Form</h2>
    <br />
    <form th:action="@{/processStudentForm}" th:object="${student}" method="post" >
        First Name: <input type="text" th:field="*{firstName}" />
        <br />
        Last Name: <input type="text" th:field="*{lastName}" />
        <br />
        <button type="submit" >Save</button>
    </form>
</body>
</html>