<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
    <h2>Student Registration Form</h2>
    <br />
    <form th:action="@{/processStudentForm}" th:object="${student}" method="post" >
        First Name: <input type="text" th:field="*{firstName}" />
        <br />
        Last Name: <input type="text" th:field="*{lastName}" />
        <br />
        <select th:field="*{country}">
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}" />
        </select>
        <br />
        Favourite Language:
        <input type="radio" th:field="*{favouriteLanguage}"
            th:each="favouriteLanguage : ${favouriteLanguages}"
            th:value="${favouriteLanguage}"
            th:text="${favouriteLanguage}"/>
        <br />
        Favourite Systems:
        <input type="checkbox" th:field="*{favouriteSystems}"
               th:each="system : ${favouriteSystems}"
               th:value="${system}" th:text="${system}"/>
        <button type="submit" >Save</button>
    </form>
</body>
</html>